<!DOCTYPE html>
<html>
  <head>
    <title>MealsWithStrangers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('burger.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
